@charset "UTF-8";
/* Estilos generales */
/* Header */
* {
  margin: 0;
  padding: 0; }

/* Espacios */
/* Colores */
/* Operaciones, mapas, extend, mixins */
/* Mixins */
/* Extend */
.estilo-h1, h1, nav .navegador a {
  font-family: 'Patrick Hand', cursive !important;
  font-size: 40px;
  color: black !important; }

/* Mapa */
.color-nav-home {
  background-color: gold; }

.color-nav-productos {
  background-color: #ca9013; }

.color-nav-personalizados {
  background-color: #5a9db8; }

.color-nav-preguntas {
  background-color: #ad19bb; }

.color-nav-contacto {
  background-color: #b94242; }

nav {
  background: #0aaeaa;
  background: linear-gradient(90deg, #0aaeaa 0%, #2dc2bf 25%, #50d7d5 50%, #72ebea 75%, #64faa8 100%, #95ffff 100%); }
  nav .navegador a {
    color: black !important;
    font-size: 20px; }

.logo-y-titulo {
  display: flex;
  flex-direction: column;
  height: 15rem;
  padding-bottom: 1rem; }
  .logo-y-titulo .logo {
    width: 150px; }

.main-index {
  padding: 1rem;
  margin: 0;
  text-align: left; }

/* Footer */
footer {
  /*  border-top: solid 15px orange; */
  /*     background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(152, 233, 244, 1) 0%, rgba(84, 240, 199, 1) 48%, rgba(100, 250, 168, 1) 100%, rgba(0, 209, 251, 1) 100%); */
  background: #0aaeaa;
  background: linear-gradient(90deg, #0aaeaa 0%, #2dc2bf 25%, #50d7d5 50%, #72ebea 75%, #64faa8 100%, #95ffff 100%); }
  footer .img-footer {
    width: 60px;
    height: 60px; }

.diseñador {
  font-family: 'Patrick Hand', cursive !important;
  background-color: black;
  text-align: center;
  padding: .5rem 0rem; }
  .diseñador a {
    color: #dbcaca; }

/* Termina cambios generales CSS */
/* Main-index */
.info-util-index {
  padding: 1rem;
  background-color: #ebf5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .info-util-index h3 {
    display: inline-block;
    /*         text-decoration: underline; */ }
  .info-util-index img {
    border-radius: 5%; }

/* producto.html */
.h1-productos {
  display: flex;
  align-items: center;
  justify-content: center; }

.main-producto {
  background-color: #ebf5f5;
  padding: 1rem;
  margin: 0;
  text-align: left; }

/* personalizado.html */
.main-personalizado {
  background-color: #ebf5f5; }
  .main-personalizado .titulo-galeria {
    text-align: center;
    margin: 1rem; }
  .main-personalizado .galeria {
    width: 70vw;
    text-align: center; }
  .main-personalizado h3 {
    text-align: center; }
  .main-personalizado .segunda-galeria img {
    width: 220px;
    margin: 1.5rem;
    border: 1px solid black; }

/* preguntas-frecuentes.html */
.main-consultas {
  background-color: #ebf5f5;
  padding: 1rem;
  margin: 0;
  text-align: left; }
  .main-consultas h1 {
    padding: 1rem 0rem;
    text-align: center; }

/* Contacto.html */
.main-contacto {
  display: grid;
  background-color: #ebf5f5; }
  .main-contacto h2 {
    padding: 1rem 0rem; }
  .main-contacto form .mb-3 {
    width: 15rem; }
  .main-contacto iframe {
    width: 80vw;
    margin: auto; }

/* Empieza Media query desktop */
@media screen and (min-width: 768px) {
  /* Index */
  .info-util-index {
    display: flex;
    flex-direction: row; }
    .info-util-index div {
      width: 70%;
      margin: 3rem; }
    .info-util-index .subli_art {
      width: 300px;
      height: 300px; }
  .logo-y-titulo {
    animation-name: movimiento-logo;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: .0s; }
  @keyframes movimiento-logo {
    0% {
      transform: translate(-180px);
      opacity: 0; }
    100% {
      transform: translate(0px);
      opacity: 1; } }
  /* Productos */
  .caja-productos {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease; }
  .caja-productos:hover {
    transform: scale(1.1);
    border: solid white 5px; }
  /* Personalizado */
  .main-personalizado .titulo-galeria {
    margin: 2rem; }
  .main-personalizado .galeria {
    width: 35%; }
  .main-personalizado .segunda-galeria img {
    width: 220px;
    margin: 1.5rem;
    border: 1px solid black;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease; }
  .main-personalizado .segunda-galeria img:hover {
    transform: scale(1.4); }
  .main-personalizado .img-personalizado img {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease; }
  .main-personalizado .img-personalizado img:hover {
    transform: scale(1.1);
    border: solid white 5px;
    border-radius: 1rem; }
  /* Preguntas */
  .main-consultas {
    padding: 0;
    margin: 1rem;
    text-align: left; }
    .main-consultas h2 {
      padding: 1rem 0rem;
      text-align: center; }
  /* Footer */
  .img-footer {
    transition-duration: 0.8s;
    transition-timing-function: ease; }
  .img-footer:hover {
    transform: rotate(360deg); } }

@media screen and (min-width: 1024px) {
  /* Navegador */
  .navegador a {
    padding: 0rem 1rem !important; }
  .navegador a:hover {
    transform: scale(1.2); }
  /* Preguntas */
  .main-consultas img {
    height: 400px; }
  /* Contacto */
  .main-contacto {
    grid-template-areas: "formulario horario" "formulario ubicacion";
    grid-template-columns: 1fr 2fr; }
    .main-contacto iframe {
      display: flex;
      width: 350px;
      height: 220px; }
    .main-contacto form {
      grid-area: formulario;
      align-items: right; }
    .main-contacto .horario {
      grid-area: horario;
      padding: 1rem 0rem; }
    .main-contacto .ubicacion {
      grid-area: ubicacion; } }
