/* Efectos - transicion */

/* Personalizado */
.img-personalizado img {
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: ease;
}

.img-personalizado img:hover {
    transform: scale(1.1);
    border: solid white 5px;
    border-radius: 1rem;
}

/* Nav */

.link-color-home:hover {
    @extend .color-nav-home;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px 1px black;
}

.link-color-productos:hover {
    @extend .color-nav-productos;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px 1px black;
}

.link-color-personalizado:hover {
    @extend .color-nav-personalizados;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px 1px black;
}

.link-color-preguntas:hover {
    @extend .color-nav-preguntas;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px 1px black;
}

.link-color-contacto:hover {
    @extend .color-nav-contacto;
    border-radius: .5rem;
    box-shadow: 1px 1px 1px 1px black;
}

.logo {
    animation-name: movimiento-logo;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: .0s;
}

@keyframes movimiento-logo {
    0% {
        transform: translate(180px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }

}

h2 {
    animation-name: movimiento-h2;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: .0s;
}

@keyframes movimiento-h2 {
    0% {
        transform: translate(-180px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }

}