/* Empieza Media query desktop */

@media screen and (min-width: 1024px) {

    .info-util-index {
        img {
            width: 300px;
        }
    }

    /* Productos */
    .caja-productos {
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        transition-timing-function: ease;
    }

    .caja-productos:hover {
        transform: scale(1.1);
        border: solid white 5px;
    }

    /* Footer */
    .img-footer {
        transition-duration: 0.8s;
        transition-timing-function: ease;

    }

    .img-footer:hover {
        transform: rotate(360deg);
    }

}

@media screen and (max-width:1023px){
    
    /* Main-index */
    .info-util-index {
        img {
            width: 200px;
        }
    }
}