/* personalizado.html */

.main-personalizado{
    background-color: $c-fondo;
    .titulo-galeria {
        text-align: center;
        margin: 1rem;
    }

    .galeria {
        width: 70vw;
        text-align: center;
        
    }

    h3{
        text-align: center;
    }
    .segunda-galeria img{
        width: 220px;
        margin: 1.5rem;
        border: 1px solid black;
    }
    
}



