/* personalizado.html */

.main-personalizado{
    background-color: $c-fondo;
    .titulo-galeria {
        text-align: center;
        margin: 1rem;
    }

    .galeria {
        width: 40vw;
    }
    
}



